---
layout: default
title: Articles en Français
description: Mr Freire's Blog en Français
background: '/img/leopard_books.jpg'
thumbnail: '/img/leopard_books.jpg'
image: '/img/leopard_books.jpg'
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
        style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')" >
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
          <div class="page-heading">
            <br>
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <br>
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="container">
    <div class="row text-center mb-5">
      <div class="col">
          <a class="btn btn-sm float-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Read it in Other Languages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ "/" | relative_url }}">Artícles in English </a>
            <a class="dropdown-item" href="{{ "/posts-spanish" | relative_url }}">Artículos en Español</a>
            <a class="dropdown-item" href="{{ "/posts-german" | relative_url }}">Artikel auf Deutsch</a>
            <!-- Add additional links here as needed -->
          </div>
      </div>

    </div>
            <div class="row">


        <!-- Home Post List -->
              {% assign sorted = site.french | reverse %}

              {% for post in sorted limit : 100 %}

              <div class="col-12 col-md-6 col-lg-4 d-flex">
                <div class="card border-0">
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <p>
            <div style="margin-left: 20px;margin-right: 20px">
            <img class="card-img-top" src="{{post.background}}" alt="{{post.description}}">
            </div>
              <div class="card-body py-3">
            <div style="height: 50px; overflow: hidden;">
            <h5 class="post-title">{{ post.title }}</h5>
                </div>
            {% if post.subtitle %}
            <div style="height: 45px; overflow: hidden;">
            <h7 class="post-subtitle">{{ post.subtitle }}</h7>
              </div>
              <section>
                <small class="post-preview">
                  {% assign truncated_text = post.content  | split: '.' %}
                  {{ truncated_text | slice: 0, 2 | join: '. ' | strip_html | linebreak }}
                </small>
                <small class="post-date"> <strong>   En savoir plus</strong></small>
              </section>
                  {% else %}
                <small class="post-preview">
                  {% assign truncated_text = post.content  | split: '.' %}
                  {{ truncated_text | slice: 0, 2 | join: '. ' | strip_html | linebreak }}
                </small>
                <small class="post-date"> <strong>   En savoir plus</strong></small>
            {% endif %}
                <div class="container" align="right">
                  <br>
                  <small class="post-date"> {{ post.date | date: '%B %d, %Y' }} </small>
                </div>
          </div>
          </a>
<!--            <div class="card-body py-3">
            <p class="post-meta"> <small>Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
        </small></p>
            {% if post.tags.size > 0 %}
                <div class="caption">
                    <span class="post-share-title">Tags:</span>
                    {% for tag in post.tags %} {% if forloop.index == post.tags.size %}
                    <a href='{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '- ' }}/'>{{ tag | camelcase }}</a>
                    {% else %}
                    <a href='{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '- ' }}/'>{{ tag | camelcase }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                </div>-->
                  </article>
                </div>
                </div>
        {% endfor %}
            </div>
          </div>
      </div>
      </div>
    </section>
        <!-- Pager -->
    <p>
        <div class="clearfix">
        </div>
    </p>

      </div>
    </div>
  </div>
