<table class="dataframe table-responsive table-bordered" id="table_wishlist_books">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 100px;">Title</th>
      <th style="min-width: 100px;">Author</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/62879766-la-encrucijada-mundial">La encrucijada mundial: Un manual del mañana</a></td>
      <td>Baños, Pedro</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/401077.Asset_Allocation">Asset Allocation: Balancing Financial Risk</a></td>
      <td>Gibson, Roger C.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/179198.Capital_Ideas">Capital Ideas: The Improbable Origins of Modern Wall Street</a></td>
      <td>Bernstein, Peter L.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/91360.Devil_Take_the_Hindmost">Devil Take the Hindmost: A History of Financial Speculation</a></td>
      <td>Chancellor, Edward</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/384312.The_Art_of_Living">The Art of Living: Vipassana Meditation</a></td>
      <td>Hart, William</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/7332.The_Silmarillion">The Silmarillion</a></td>
      <td>Tolkien, J.R.R.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/7329.Unfinished_Tales_of_N_menor_and_Middle_Earth">Unfinished Tales of Númenor and Middle-Earth</a></td>
      <td>Tolkien, J.R.R.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/18428492-deep-risk">Deep Risk: How History Informs Portfolio Design</a></td>
      <td>Bernstein, William J.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/22458444-rational-expectations">Rational Expectations: Asset Allocation for Investing Adults (Investing for Adults Book 4)</a></td>
      <td>Bernstein, William J.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/6720027-the-investor-s-manifesto">The Investor's Manifesto: Preparing for Prosperity, Armageddon, and Everything in Between</a></td>
      <td>Clements, Jonathan</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/208722.The_Intelligent_Asset_Allocator">The Intelligent Asset Allocator: How to Build Your Portfolio to Maximize Returns and Minimize Risk</a></td>
      <td>Bernstein, William J.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/2413423.A_Splendid_Exchange">A Splendid Exchange: How Trade Shaped the World from Prehistory to Today</a></td>
      <td>Bernstein, William J.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/59883560-prisoners-of-the-castle">Prisoners of the Castle: An Epic Story of Survival and Escape from Colditz, the Nazis' Fortress Prison</a></td>
      <td>Macintyre, Ben</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/60194141-the-escape-artist">The Escape Artist: The Man Who Broke Out of Auschwitz to Warn the World</a></td>
      <td>Freedland, Jonathan</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/25812847-silk-roads">Silk Roads</a></td>
      <td>Frankopan, Peter</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/39020.1491">1491: New Revelations of the Americas Before Columbus</a></td>
      <td>Mann, Charles C.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/10046142-dancing-in-the-glory-of-monsters">Dancing in the Glory of Monsters: The Collapse of the Congo and the Great War of Africa</a></td>
      <td>Stearns, Jason</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/40961640-spain-in-our-hearts">Spain in Our Hearts: Americans in the Spanish Civil War, 1936-1939</a></td>
      <td>Hochschild, Adam</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/6480781-open">Open</a></td>
      <td>Agassi, Andre</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/62337991-the-genius-of-algorand">The Genius of Algorand: Technical Elegance and the DeFi Revolution</a></td>
      <td>Scaramucci, Anthony</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/40651883-snow-crash">Snow Crash</a></td>
      <td>Stephenson, Neal</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/145055.Algorithm_Design">Algorithm Design</a></td>
      <td>Kleinberg, Jon</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/12836498-mathematics-for-computer-science">Mathematics for Computer Science</a></td>
      <td>Lehman, Eric</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/16158498-give-and-take">Give and Take: A Revolutionary Approach to Success</a></td>
      <td>Grant, Adam M.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/18774655-flask-web-development">Flask Web Development: Developing Web Applications with Python</a></td>
      <td>Grinberg, Miguel</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/1335019.Necronomicon">Necronomicon: The Best Weird Tales</a></td>
      <td>Lovecraft, H.P.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/68542.The_History_of_Rome_Books_1_5">The History of Rome, Books 1-5: The Early History of Rome</a></td>
      <td>Livy</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/261228.A_History_of_My_Times">A History of My Times</a></td>
      <td>Xenophon</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/1362.The_Histories">The Histories</a></td>
      <td>Herodotus</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/261243.History_of_the_Peloponnesian_War">History of the Peloponnesian War</a></td>
      <td>Thucydides</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/25574.Common_Stocks_and_Uncommon_Profits_and_Other_Writings">Common Stocks and Uncommon Profits and Other Writings</a></td>
      <td>Fisher, Kenneth L.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/965633.Stocks_for_the_Long_Run">Stocks for the Long Run</a></td>
      <td>Siegel, Jeremy J.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/381440.The_Society_of_the_Spectacle">The Society of the Spectacle</a></td>
      <td>Debord, Guy</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/54870131-the-day-the-world-stops-shopping">The Day the World Stops Shopping: How Ending Consumerism Saves the Environment and Ourselves</a></td>
      <td>MacKinnon, J.B.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/57213320-consumed">Consumed: On Colonialism, Climate Change, Consumerism, and the Need for Collective Change</a></td>
      <td>Barber, Aja</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/38821039-the-making-of-a-manager">The Making of a Manager: What to Do When Everyone Looks to You</a></td>
      <td>Zhuo, Julie</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/2691332-how-to-develop-a-perfect-memory">How to Develop a Perfect Memory</a></td>
      <td>O'Brien, Dominic</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/243601.Imperium">Imperium (Cicero, #1)</a></td>
      <td>Harris, Robert</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/3629971-conspirata">Conspirata (Cicero, #2)</a></td>
      <td>Harris, Robert</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/25488982-dictator">Dictator (Cicero, #3)</a></td>
      <td>Harris, Robert</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/89231.Augustus">Augustus</a></td>
      <td>Williams, John</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/480570.The_First_Man_in_Rome">The First Man in Rome (Masters of Rome, #1)</a></td>
      <td>McCullough, Colleen</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/8719.Julian">Julian</a></td>
      <td>Vidal, Gore</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/18765.I_Claudius">I, Claudius (Claudius, #1)</a></td>
      <td>Graves, Robert</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/23522.Mythology">Mythology</a></td>
      <td>Hamilton, Edith</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/45731395-the-deficit-myth">The Deficit Myth: Modern Monetary Theory and the Birth of the People's Economy</a></td>
      <td>Kelton, Stephanie</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/354865.Catholicism">Catholicism: The Story of Catholic Christianity</a></td>
      <td>O'Collins, Gerald</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/28862.The_Prince">The Prince</a></td>
      <td>Machiavelli, Niccolò</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/630406.Cesare_Borgia">Cesare Borgia: His Life and Times</a></td>
      <td>Bradford, Sarah</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/81948.The_E_myth_Revisited">The E-myth Revisited</a></td>
      <td>Gerber, Michael E.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/2612.The_Tipping_Point">The Tipping Point: How Little Things Can Make a Big Difference</a></td>
      <td>Gladwell, Malcolm</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/6732019-rework">Rework</a></td>
      <td>Fried, Jason</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/6828896-delivering-happiness">Delivering Happiness: A Path to Profits, Passion, and Purpose</a></td>
      <td>Hsieh, Tony</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/21343.The_Five_Dysfunctions_of_a_Team">The Five Dysfunctions of a Team: A Leadership Fable</a></td>
      <td>Lencioni, Patrick</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/2615.The_Innovator_s_Dilemma">The Innovator's Dilemma: The Revolutionary Book that Will Change the Way You Do Business</a></td>
      <td>Christensen, Clayton M.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/28815.Influence">Influence: The Psychology of Persuasion</a></td>
      <td>Cialdini, Robert B.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/37903770-norse-mythology">Norse Mythology</a></td>
      <td>Gaiman, Neil</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/26156469-never-split-the-difference">Never Split the Difference: Negotiating As If Your Life Depended On It</a></td>
      <td>Voss, Chris</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/38315.Fooled_by_Randomness">Fooled by Randomness: The Hidden Role of Chance in Life and in the Markets (Incerto)</a></td>
      <td>Taleb, Nassim Nicholas</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/54898389-the-almanack-of-naval-ravikant">The Almanack of Naval Ravikant: A Guide to Wealth and Happiness</a></td>
      <td>Jorgenson, Eric</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/31823677-tools-of-titans">Tools of Titans: The Tactics, Routines, and Habits of Billionaires, Icons, and World-Class Performers</a></td>
      <td>Ferriss, Timothy</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/18176747-the-hard-thing-about-hard-things">The Hard Thing About Hard Things: Building a Business When There Are No Easy Answers</a></td>
      <td>Horowitz, Ben</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/1303.The_48_Laws_of_Power">The 48 Laws of Power</a></td>
      <td>Greene, Robert</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/13623848-the-song-of-achilles">The Song of Achilles</a></td>
      <td>Miller, Madeline</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/22551730-dead-wake">Dead Wake: The Last Crossing of the Lusitania</a></td>
      <td>Larson, Erik</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/40718726-genghis-khan-and-the-making-of-the-modern-world">Genghis Khan and the Making of the Modern World</a></td>
      <td>Weatherford, Jack</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/40779082-the-guns-of-august">The Guns of August</a></td>
      <td>Tuchman, Barbara W.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/28789711-spqr">SPQR: A History of Ancient Rome</a></td>
      <td>Beard, Mary</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/2767.A_People_s_History_of_the_United_States">A People's History of the United States</a></td>
      <td>Zinn, Howard</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/1842.Guns_Germs_and_Steel">Guns, Germs, and Steel: The Fates of Human Societies</a></td>
      <td>Diamond, Jared</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/27.Neither_Here_nor_There">Neither Here nor There: Travels in Europe</a></td>
      <td>Bryson, Bill</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/7126.The_Count_of_Monte_Cristo">The Count of Monte Cristo</a></td>
      <td>Dumas, Alexandre</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/30359031-the-viking-spirit">The Viking Spirit: An Introduction to Norse Mythology and Religion</a></td>
      <td>McCoy, Daniel</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/7671808-winning-in-emerging-markets">Winning in Emerging Markets: A Road Map for Strategy and Execution</a></td>
      <td>Khanna, Tarun</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/5270725-emillions">Emillions: Behind-The-Scenes Stories of 14 Successful Internet Millionaires</a></td>
      <td>Tang, Stanley</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/23349901-percy-jackson-s-greek-heroes">Percy Jackson's Greek Heroes</a></td>
      <td>Riordan, Rick</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/20829994-percy-jackson-s-greek-gods">Percy Jackson's Greek Gods</a></td>
      <td>Riordan, Rick</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/35074096-mythos">Mythos: The Greek Myths Retold (Stephen Fry's Great Mythology, #1)</a></td>
      <td>Fry, Stephen</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/35525995-attack-of-the-50-foot-blockchain">Attack of the 50 Foot Blockchain: Bitcoin, Blockchain, Ethereum & Smart Contracts</a></td>
      <td>Gerard, David</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/53238858-what-happened-to-you">What Happened To You?: Conversations on Trauma, Resilience, and Healing</a></td>
      <td>Perry, Bruce D.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/26114571-the-code-of-the-extraordinary-mind">The Code of the Extraordinary Mind: 10 Unconventional Laws to Redefine Your Life and Succeed On Your Own Terms</a></td>
      <td>Vishen Lakhiani</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/99315.A_Whole_New_Mind">A Whole New Mind: Why Right-Brainers Will Rule the Future</a></td>
      <td>Pink, Daniel H.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/157993.The_Little_Prince">The Little Prince</a></td>
      <td>Saint-Exupéry, Antoine de</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/4671.The_Great_Gatsby">The Great Gatsby</a></td>
      <td>Fitzgerald, F. Scott</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/82256.The_Sovereign_Individual">The Sovereign Individual: Mastering the Transition to the Information Age</a></td>
      <td>Davidson, James Dale</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/78159.The_Story_of_Civilization">The Story of Civilization (11 Volume Set)</a></td>
      <td>Durant, Will</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/174730.The_Life_of_Greece">The Life of Greece (The Story of Civilization, #2)</a></td>
      <td>Durant, Will</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/174722.Our_Oriental_Heritage">Our Oriental Heritage (The Story of Civilization, #1)</a></td>
      <td>Durant, Will</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/767171.The_Rise_and_Fall_of_the_Third_Reich">The Rise and Fall of the Third Reich: A History of Nazi Germany</a></td>
      <td>Shirer, William L.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/123632.Man_and_His_Symbols">Man and His Symbols</a></td>
      <td>Jung, Carl</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/234894.The_Hero_s_Adventure">The Hero's Adventure: Power of Myth 1</a></td>
      <td>Campbell, Joseph</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/589064.The_Masks_of_God_Volume_1">The Masks of God, Volume 1: Primitive Mythology</a></td>
      <td>Campbell, Joseph</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/821380.Myths_to_Live_By">Myths to Live By</a></td>
      <td>Fairchild, Johnson E.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/35519.The_Power_of_Myth">The Power of Myth</a></td>
      <td>Campbell, Joseph</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/32552.The_Essential_Tales_and_Poems_of_Edgar_Allan_Poe">The Essential Tales and Poems of Edgar Allan Poe</a></td>
      <td>Poe, Edgar Allan</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/32275.River_Out_of_Eden">River Out of Eden: A Darwinian View of Life</a></td>
      <td>Dawkins, Richard</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/174713.The_Lessons_of_History">The Lessons of History</a></td>
      <td>Durant, Will</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/41317431-a-template-for-understanding-big-debt-crises">A Template for Understanding Big Debt Crises</a></td>
      <td>Dalio, Ray</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/12935037-principles">Principles: Summary</a></td>
      <td>Dalio, Ray</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/76865.Good_to_Great">Good to Great: Why Some Companies Make the Leap... and Others Don't</a></td>
      <td>Collins, James C.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/764332.Jason_and_the_Golden_Fleece">Jason and the Golden Fleece (The Argonautica)</a></td>
      <td>Apollonius of Rhodes</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/51942313-principles-for-success">Principles for Success</a></td>
      <td>Dalio, Ray</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/55317655-millennial-millionaire">Millennial Millionaire: Optimize Your Financial Life and Get Rich</a></td>
      <td>Konrardy, Blake</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/55240160-mastering-blockchain">Mastering Blockchain: A Deep Dive Into Distributed Ledgers, Consensus Protocols, Smart Contracts, DApps, Cryptocurrencies, Ethereum, and More</a></td>
      <td>Bashir, Imran</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/23241059-python-crash-course">Python Crash Course: A Hands-On, Project-Based Introduction to Programming</a></td>
      <td>Matthes, Eric</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/14744694-python-for-data-analysis">Python for Data Analysis</a></td>
      <td>McKinney, Wes</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/80435.Learning_Python">Learning Python</a></td>
      <td>Lutz, Mark</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/22514127-automate-the-boring-stuff-with-python">Automate the Boring Stuff with Python: Practical Programming for Total Beginners</a></td>
      <td>Sweigart, Al</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/6452796-drive">Drive: The Surprising Truth About What Motivates Us</a></td>
      <td>Pink, Daniel H.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/13593553-to-sell-is-human">To Sell is Human: The Surprising Truth About Moving Others</a></td>
      <td>Pink, Daniel H.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/52578297-the-midnight-library">The Midnight Library</a></td>
      <td>Haig, Matt</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/866222.Winning">Winning</a></td>
      <td>Welch, Jack</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/135836.Trainspotting">Trainspotting (Mark Renton, #2)</a></td>
      <td>Welsh, Irvine</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/36236124-fight-club">Fight Club</a></td>
      <td>Palahniuk, Chuck</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/28676.American_Psycho">American Psycho</a></td>
      <td>Ellis, Bret Easton</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/75893.The_Little_Book_of_Value_Investing">The Little Book of Value Investing</a></td>
      <td>Browne, Christopher H.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/8247775-the-little-book-that-still-beats-the-market">The Little Book That Still Beats the Market</a></td>
      <td>Tobias, Andrew</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/11087744-the-little-book-of-valuation">The Little Book of Valuation: How to Value a Company, Pick a Stock and Profit</a></td>
      <td>Damodaran, Aswath</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/4427672-warren-buffett-and-the-interpretation-of-financial-statements">Warren Buffett and the Interpretation of Financial Statements: The Search for the Company with a Durable Competitive Advantage</a></td>
      <td>Buffett, Mary</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/93795.The_English_Assassin">The English Assassin (Gabriel Allon, #2)</a></td>
      <td>Silva, Daniel</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/51152447-caste">Caste: The Origins of Our Discontents</a></td>
      <td>Wilkerson, Isabel</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/27209433-white-trash">White Trash: The 400-Year Untold History of Class in America</a></td>
      <td>Isenberg, Nancy</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/568236.A_Distant_Mirror">A Distant Mirror:  The Calamitous 14th Century</a></td>
      <td>Tuchman, Barbara W.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/114795.Living_and_Working_in_Switzerland">Living and Working in Switzerland: A Survival Handbook (Living & Working)</a></td>
      <td>Hampshire, David</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/56680994-god-of-war-full-story-vol-1">God of War full story vol.1: The story of Kratos (God of war series)</a></td>
      <td>Anmol, Rawat</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/6633102-god-of-war">God of War</a></td>
      <td>Stover, Matthew Woodring</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/15645.Inferno">Inferno</a></td>
      <td>Alighieri, Dante</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/2878210-la-divina-comedia">La Divina Comedia</a></td>
      <td>Alighieri, Dante</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/24280.Les_Mis_rables">Les Misérables</a></td>
      <td>Hugo, Victor</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/5907.The_Hobbit">The Hobbit (The Lord of the Rings, #0)</a></td>
      <td>Tolkien, J.R.R.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/17245.Dracula">Dracula</a></td>
      <td>Stoker, Bram</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/5297.The_Picture_of_Dorian_Gray">The Picture of Dorian Gray</a></td>
      <td>Wilde, Oscar</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/34684622-leonardo-da-vinci">Leonardo da Vinci</a></td>
      <td>Isaacson, Walter</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/38359036-the-tattooist-of-auschwitz">The Tattooist of Auschwitz (The Tattooist of Auschwitz, #1)</a></td>
      <td>Morris, Heather</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/29362095-the-fama-portfolio">The Fama Portfolio: Selected Papers of Eugene F. Fama</a></td>
      <td>Fama, Eugene F.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/2618.The_Innovator_s_Solution">The Innovator's Solution: Creating and Sustaining Successful Growth</a></td>
      <td>Christensen, Clayton M.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/113934.The_Goal">The Goal: A Process of Ongoing Improvement</a></td>
      <td>Goldratt, Eliyahu M.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/376237.Toyota_Production_System">Toyota Production System: Beyond large-scale production</a></td>
      <td>Ohno, Taiichi</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/17288803-hitler-s-elite">Hitler’s Elite: The SS 1939-45</a></td>
      <td>McNab, Chris</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/1063799.Waffen_SS">Waffen SS: Hitler's Elite Guard at War, 1939 1945</a></td>
      <td>Stein, George H.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/13079982-fahrenheit-451">Fahrenheit 451</a></td>
      <td>Bradbury, Ray</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/343.Perfume">Perfume: The Story of a Murderer</a></td>
      <td>Süskind, Patrick</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/277950.Hagakure">Hagakure: The Book of the Samurai</a></td>
      <td>Yamamoto Tsunetomo</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/20809254-foundations-of-strength">Foundations of Strength</a></td>
      <td>Clear, James</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/23397038-mastering-creativity">Mastering Creativity</a></td>
      <td>Clear, James</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/20809233-transform-your-habits">Transform Your Habits</a></td>
      <td>Clear, James</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/52950915-die-with-zero">Die with Zero: Getting All You Can from Your Money and Your Life</a></td>
      <td>Perkins, Bill</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/33514.The_Elements_of_Style">The Elements of Style</a></td>
      <td>Strunk Jr., William</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/40121378-atomic-habits">Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones</a></td>
      <td>Clear, James</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/3228917-outliers">Outliers: The Story of Success</a></td>
      <td>Gladwell, Malcolm</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/7108725-start-with-why">Start with Why: How Great Leaders Inspire Everyone to Take Action</a></td>
      <td>Sinek, Simon</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/844935.Master_Key_to_Riches">Master-Key to Riches</a></td>
      <td>Hill, Napoleon</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/10713286-outwitting-the-devil">Outwitting the Devil: The Secret to Freedom and Success</a></td>
      <td>Hill, Napoleon</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/53138083-working-backwards">Working Backwards: Insights, Stories, and Secrets from Inside Amazon</a></td>
      <td>Bryar, Colin</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/56695159-amazon-unbound">Amazon Unbound: Jeff Bezos and the Invention of a Global Empire</a></td>
      <td>Stone, Brad</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/81922.Rich_Dad_s_Cashflow_Quadrant">Rich Dad's Cashflow Quadrant: Rich Dad's Guide to Financial Freedom</a></td>
      <td>Kiyosaki, Robert T.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/2272527.Rich_Dad_s_Increase_Your_Financial_IQ">Rich Dad's Increase Your Financial IQ: Get Smarter with Your Money</a></td>
      <td>Kiyosaki, Robert T.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/32393.The_Stock_Shop">The Stock Shop</a></td>
      <td>Lynch, Peter</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/762464.Beating_the_Street">Beating the Street</a></td>
      <td>Lynch, Peter</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/817589.Simon_Schuster_Learn_To_Earn">Simon & Schuster Learn To Earn: A Beginner's Guide To The Basics Of Investing And Business</a></td>
      <td>Lynch, Peter</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/762462.One_Up_On_Wall_Street">One Up On Wall Street: How to Use What You Already Know to Make Money in the Market</a></td>
      <td>Lynch, Peter</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/110672.The_Only_Investment_Guide_You_ll_Ever_Need">The Only Investment Guide You'll Ever Need: Expanded and Updated Throughout</a></td>
      <td>Tobias, Andrew</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/998.The_Millionaire_Next_Door">The Millionaire Next Door: The Surprising Secrets of America's Wealthy</a></td>
      <td>Stanley, Thomas J.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/25541028-elon-musk">Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future</a></td>
      <td>Vance, Ashlee</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/53582472-manual-do-ceo---um-verdadeiro-mba-para-o-gestor-do-s-culo-xxi">MANUAL DO CEO - Um verdadeiro MBA para o gestor do século XXI</a></td>
      <td>Kaufman, Josh</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/11889928-worldly-wisdom">Worldly Wisdom: Collected Quotations and Aphorisms</a></td>
      <td>Kaufman, Josh</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/4122.Built_to_Last">Built to Last: Successful Habits of Visionary Companies (Good to Great, 2)</a></td>
      <td>Collins, James C.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/7696135-making-ideas-happen">Making Ideas Happen: Overcoming the Obstacles Between Vision and Reality</a></td>
      <td>Belsky, Scott</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/4898.Blue_Ocean_Strategy">Blue Ocean Strategy: How to Create Uncontested Market Space and Make the Competition Irrelevant</a></td>
      <td>Kim, W. Chan</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/12605157-the-100-startup">The $100 Startup: Reinvent the Way You Make a Living, Do What You Love, and Create a New Future</a></td>
      <td>Guillebeau, Chris</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/5152210-financial-intelligence-for-entrepreneurs">Financial Intelligence for Entrepreneurs: What You Really Need to Know About the Numbers</a></td>
      <td>Berman, Karen</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/9512985-the-personal-mba">The Personal MBA: Master the Art of Business</a></td>
      <td>Kaufman, Josh</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/209956.The_Warren_Buffett_Way">The Warren Buffett Way: Investment Strategies of the World's Greatest Investor</a></td>
      <td>Hagstrom, Robert G.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/30289.The_Republic">The Republic</a></td>
      <td>Lee, Desmond</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/28257707-the-subtle-art-of-not-giving-a-f-ck">The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life</a></td>
      <td>Manson, Mark</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/23692271-sapiens">Sapiens: A Brief History of Humankind</a></td>
      <td>Harari, Yuval Noah</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/30474.The_Communist_Manifesto">The Communist Manifesto</a></td>
      <td>Marx, Karl</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/867247.A_Book_of_Five_Rings">A Book of Five Rings: The Classic Guide to Strategy</a></td>
      <td>Miyamoto Musashi</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/67896.Tao_Te_Ching">Tao Te Ching</a></td>
      <td>Lao Tzu</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/30659.Meditations">Meditations</a></td>
      <td>Hammond, Martin</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/763362.The_One_Minute_Manager">The One Minute Manager</a></td>
      <td>Blanchard, Kenneth H.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/325785.Capital">Capital: A Critique of Political Economy, Volume 1</a></td>
      <td>Marx, Karl</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/170448.Animal_Farm">Animal Farm</a></td>
      <td>Orwell, George</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/40961427-1984">1984</a></td>
      <td>Orwell, George</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/2657.To_Kill_a_Mockingbird">To Kill a Mockingbird</a></td>
      <td>Lee, Harper</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/11468377-thinking-fast-and-slow">Thinking, Fast and Slow</a></td>
      <td>Kahneman, Daniel</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/11084145-steve-jobs">Steve Jobs</a></td>
      <td>Isaacson, Walter</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/30186948-think-and-grow-rich">Think and Grow Rich</a></td>
      <td>Hill, Napoleon</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/36072.The_7_Habits_of_Highly_Effective_People">The 7 Habits of Highly Effective People: Powerful Lessons in Personal Change</a></td>
      <td>Covey, Stephen R.</td>
    </tr>
    <tr>
      <td><a href="https://www.goodreads.com/book/show/4865.How_to_Win_Friends_and_Influence_People">How to Win Friends and Influence People</a></td>
      <td>Carnegie, Dale</td>
    </tr>
  </tbody>
</table>