<div class="subscribe-popup">
    <h7>Newsletter</h7>
    <p><small>Enter your email address to receive the latest articles</small></p>
    <form action="https://mrfreire.us21.list-manage.com/subscribe/post?u=84757a16cdbaa721ff032f9ae&amp;id=ecc7cc2571&amp;f_id=00fae0e6f0"
          method="post" id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div class="mc-field-group"><input type="email" name="EMAIL"
                                                           class="required email"
                                                           id="mce-EMAIL" required=""
                                                           value=""></div>
        <div class="clear foot">
            <p></p>
            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe"
                   style="font-size: 10px; padding: 5px 5px;">
        </div>
    </form>
    <script type="text/javascript"
            src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">(function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);</script>
</div>

