<div class="subscribe-popup">
    <h6>Newsletter</h6>
    <p><small>Enter your email address to receive the latest articles</small></p>
    <form action="https://mrfreire.us21.list-manage.com/subscribe/post?u=84757a16cdbaa721ff032f9ae&amp;id=ecc7cc2571&amp;f_id=00fae0e6f0"
          method="post" id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div class="mc-field-group"><input type="email" name="EMAIL"
                                           class="required email"
                                           id="mce-EMAIL" required=""
                                           value=""></div>
        <div class="clear foot">
            <p></p>
            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe"
                   style="font-size: 10px; padding: 5px 5px;">
        </div>
    </form>
    <button type="button" class="close-button" onclick="document.querySelector('.subscribe-popup').style.display = 'none';">
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.6464 4.6464L12.3536 12.3536M12.3536 4.6464L4.6464 12.3536Z"/>
        </svg>
    </button>
</div>

<style>
    .subscribe-popup .close-button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
</style>