<table class="dataframe table-responsive table-bordered" id="table_series">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 100px;">title</th>
      <th style="min-width: 100px;">imdb_rating</th>
      <th style="min-width: 100px;">year</th>
      <th style="min-width: 100px;">genres</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://www.imdb.com/title/tt0071075/" target="_blank">The World at War</a></td>
      <td>9.2</td>
      <td>1973</td>
      <td>Documentary, History, War</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt2303687/" target="_blank">Line of Duty</a></td>
      <td>8.7</td>
      <td>2012</td>
      <td>Crime, Drama, Mystery, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt8201186/" target="_blank">The Capture</a></td>
      <td>7.9</td>
      <td>2019</td>
      <td>Crime, Mystery, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt4895744/" target="_blank">Afghanistan: The Great Game</a></td>
      <td>7.7</td>
      <td>2012</td>
      <td>Documentary</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt3581920/" target="_blank">The Last of Us</a></td>
      <td>8.8</td>
      <td>2023</td>
      <td>Action, Adventure, Drama, Horror, Sci-Fi, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt7366338/" target="_blank">Chernobyl</a></td>
      <td>9.4</td>
      <td>2019</td>
      <td>Drama, History, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt10986410/" target="_blank">Ted Lasso</a></td>
      <td>8.8</td>
      <td>2020</td>
      <td>Comedy, Drama, Sport</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt0185906/" target="_blank">Band of Brothers</a></td>
      <td>9.4</td>
      <td>2001</td>
      <td>Drama, History, War</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt1475582/" target="_blank">Sherlock</a></td>
      <td>9.1</td>
      <td>2010</td>
      <td>Crime, Drama, Mystery, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt0944947/" target="_blank">Game of Thrones</a></td>
      <td>9.2</td>
      <td>2011</td>
      <td>Action, Adventure, Drama, Fantasy</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt2356777/" target="_blank">True Detective</a></td>
      <td>8.9</td>
      <td>2014</td>
      <td>Crime, Drama, Mystery, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt2707408/" target="_blank">Narcos</a></td>
      <td>8.8</td>
      <td>2015</td>
      <td>Biography, Crime, Drama, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt0903747/" target="_blank">Breaking Bad</a></td>
      <td>9.5</td>
      <td>2008</td>
      <td>Crime, Drama, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt9244578/" target="_blank">Rise of Empires: Ottoman</a></td>
      <td>7.9</td>
      <td>2020</td>
      <td>Documentary, Drama, History, War</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt4179452/" target="_blank">The Last Kingdom</a></td>
      <td>8.5</td>
      <td>2015</td>
      <td>Action, Drama, History</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt7985576/" target="_blank">The Serpent</a></td>
      <td>7.6</td>
      <td>2021</td>
      <td>Crime, Drama, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt6517102/" target="_blank">Castlevania</a></td>
      <td>8.3</td>
      <td>2017</td>
      <td>Animation, Action, Adventure, Drama, Fantasy, Horror</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt2575988/" target="_blank">Silicon Valley</a></td>
      <td>8.5</td>
      <td>2014</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt7660850/" target="_blank">Succession</a></td>
      <td>8.8</td>
      <td>2018</td>
      <td>Comedy, Drama</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt9253284/" target="_blank">Andor</a></td>
      <td>8.4</td>
      <td>2022</td>
      <td>Action, Adventure, Drama, Sci-Fi, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt13207736/" target="_blank">Dahmer - Monster: The Jeffrey Dahmer Story</a></td>
      <td>7.9</td>
      <td>2022</td>
      <td>Biography, Crime, Drama, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt2442560/" target="_blank">Peaky Blinders</a></td>
      <td>8.8</td>
      <td>2013</td>
      <td>Crime, Drama</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt1190634/" target="_blank">The Boys</a></td>
      <td>8.7</td>
      <td>2019</td>
      <td>Action, Comedy, Crime, Drama, Sci-Fi</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt3032476/" target="_blank">Better Call Saul</a></td>
      <td>8.9</td>
      <td>2015</td>
      <td>Crime, Drama</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt11198330/" target="_blank">House of the Dragon</a></td>
      <td>8.5</td>
      <td>2022</td>
      <td>Action, Adventure, Drama, Fantasy, Romance</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt1736341/" target="_blank">Borgia</a></td>
      <td>7.8</td>
      <td>2011</td>
      <td>Biography, Drama, History</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt1582457/" target="_blank">The Borgias</a></td>
      <td>7.9</td>
      <td>2011</td>
      <td>Crime, Drama, History, Romance</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt5057130/" target="_blank">Medici</a></td>
      <td>7.9</td>
      <td>2016</td>
      <td>Biography, Drama, History, Mystery, Romance, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt3655448/" target="_blank">The Young Pope</a></td>
      <td>8.3</td>
      <td>2016</td>
      <td>Drama</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt6226232/" target="_blank">Young Sheldon</a></td>
      <td>7.6</td>
      <td>2017</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt13668894/" target="_blank">The Book of Boba Fett</a></td>
      <td>7.2</td>
      <td>2021</td>
      <td>Action, Adventure, Sci-Fi</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt8289930/" target="_blank">Formula 1: Drive to Survive</a></td>
      <td>8.6</td>
      <td>2019</td>
      <td>Documentary, Sport</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt10234724/" target="_blank">Moon Knight</a></td>
      <td>7.3</td>
      <td>2022</td>
      <td>Action, Adventure, Fantasy</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt7157248/" target="_blank">The New Pope</a></td>
      <td>8.1</td>
      <td>2019</td>
      <td>Drama</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt5952634/" target="_blank">The Spy</a></td>
      <td>7.9</td>
      <td>2019</td>
      <td>Drama, History</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt5290382/" target="_blank">Mindhunter</a></td>
      <td>8.6</td>
      <td>2017</td>
      <td>Crime, Drama, Mystery, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt4158110/" target="_blank">Mr. Robot</a></td>
      <td>8.5</td>
      <td>2015</td>
      <td>Crime, Drama, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt9140554/" target="_blank">Loki</a></td>
      <td>8.2</td>
      <td>2021</td>
      <td>Action, Adventure, Fantasy, Sci-Fi</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt2049116/" target="_blank">Gomorra: La serie</a></td>
      <td>8.7</td>
      <td>2014</td>
      <td>Crime, Drama, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt9103932/" target="_blank">Greatest Events of WWII in Colour</a></td>
      <td>8.7</td>
      <td>2019</td>
      <td>Documentary, History, War</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt2069688/" target="_blank">World War II in Colour</a></td>
      <td>8.7</td>
      <td>2009</td>
      <td>Documentary, History, War</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt0384766/" target="_blank">Rome</a></td>
      <td>8.7</td>
      <td>2005</td>
      <td>Action, Drama, Romance, War</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt1508238/" target="_blank">Apocalypse: La 2ème guerre mondiale</a></td>
      <td>9.0</td>
      <td>2009</td>
      <td>Documentary, History, War</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt8420184/" target="_blank">The Last Dance</a></td>
      <td>9.1</td>
      <td>2020</td>
      <td>Documentary, Biography, History, Sport</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt5180504/" target="_blank">The Witcher</a></td>
      <td>8.1</td>
      <td>2019</td>
      <td>Action, Adventure, Drama, Fantasy, Mystery</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt7908628/" target="_blank">What We Do in the Shadows</a></td>
      <td>8.6</td>
      <td>2019</td>
      <td>Comedy, Fantasy, Horror</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt8111088/" target="_blank">The Mandalorian</a></td>
      <td>8.7</td>
      <td>2019</td>
      <td>Action, Adventure, Fantasy, Sci-Fi</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt2401256/" target="_blank">The Night Of</a></td>
      <td>8.4</td>
      <td>2016</td>
      <td>Crime, Drama, Mystery</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt1883092/" target="_blank">Unsere Mütter, unsere Väter</a></td>
      <td>8.4</td>
      <td>2013</td>
      <td>Action, Drama, History, War</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt5675620/" target="_blank">The Punisher</a></td>
      <td>8.5</td>
      <td>2017</td>
      <td>Action, Crime, Drama, Thriller</td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt3647998/" target="_blank">Taboo</a></td>
      <td>8.3</td>
      <td>2017</td>
      <td>Drama, Mystery, Thriller</td>
    </tr>
  </tbody>
</table>