<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% feed_meta %}
{% seo %}

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJCSXZ9"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  {% include navbar.html %}

  {{ content }}



  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}


</body>

</html>
