---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
        style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">

    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <br>
                        <h1>{{ site.title }}</h1>
                        {% if site.description %}
                        <br>
                        <span class="subheading">{{ site.description }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>




    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 mx-auto">

                {{ content }}


                <div class="container">
                    <div class="row text-center mb-5">
                        <div class="col">
                            <a class="btn btn-sm float-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Read it in Other Languages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ "/posts-spanish" | relative_url }}">Artículos en Español</a>
                                <a class="dropdown-item" href="{{ "/posts-french" | relative_url }}">Articles en Français</a>
                                <a class="dropdown-item" href="{{ "/posts-german" | relative_url }}">Artikel auf Deutsch</a>
                                <!-- Add additional links here as needed -->
                            </div>
                        </div>

                    </div>


                    </div>



                    <div class="row">



                    <!-- Home Post List -->
                    {% for post in site.posts limit : 100 %}
                    {% if post.lang == 'en' %}

                    <div class="col-12 col-md-6 col-lg-4 d-flex">
                        <div class="card border-0">
                            <article class="post-preview">
                                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                                    <div class="card-img-wrapper">
                                        <img class="card-img-top" src="{{post.background}}" alt="{{post.description}}" loading="lazy">
                                    </div>
                                    <div class="card-body py-3">
                                        <div class="post-title-wrapper">
                                            <h4 class="post-title">{{ post.title }}</h4>
                                        </div>
                                        {% if post.subtitle %}
                                        <div class="post-subtitle-wrapper">
                                            <span class="post-subtitle"><strong>{{ post.subtitle }}</strong></span>
                                        </div>
                                        <section>
                                            <small class="post-preview">
                                                {% assign truncated_text = post.content | split: '.' %}
                                                {{ truncated_text | slice: 0, 2 | join: '. ' | strip_html | linebreak }}
                                            </small>
                                            <small class="post-date"> <strong> Read more</strong></small>
                                        </section>
                                        {% else %}
                                        <small class="post-preview">
                                            {% assign truncated_text = post.content | split: '.' %}
                                            {{ truncated_text | slice: 0, 2 | join: '. ' | strip_html | linebreak }}
                                        </small>
                                        {% endif %}
                                        <div class="post-date-wrapper">
                                            <small class="post-date"> {{ post.date | date: '%B %d, %Y' }} </small>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>


                    {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>


    <!-- Pager -->
    <div class="clearfix" style="padding: 1rem 0;">
        <a class="btn float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
    </div>

    </div>
    </div>
    </div>
