---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
        style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
                    <div class="post-heading">
                        <h5 class="subheading"> {{ page.title }} </h5>
                        {% if page.subtitle %}
                        <h6> {{ page.subtitle }}</h6>
                        {% endif %}
                        {% if page.description %}
                        <em> {{ page.description }}</em>
                        {% endif %}
                        <small class="post-subtitle"> {{ post.content | strip_html | truncatewords: 150 }}</small>
                        <span style="height: 100px;"/>
                        <br>
                        <small class="post-title"> {{ post.date | date: '%B %d, %Y' }} </small>
                        <p></p>
                        <h7>
                            {% for tag in page.tags %}
                            {% capture tag_name %}{{ tag }}{% endcapture %}
                            <a href="/tag/{{ tag_name }}"><code class="highligher-rouge">
                                <nobr>{{ tag_name }}</nobr>
                            </code>&nbsp;</a>
                            {% endfor %}
                        </h7>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-9 col-sm-11 mx-auto">

                {{ content }}

                <!--
                        {% include advertisements.html %}
                -->

                <hr>

                <div class="clearfix">

                    {% if page.previous.url %}
                    <a class="btn btn-primary float-left"
                       href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
                       data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span
                            class="d-none d-md-inline">
              Post</span></a>
                    {% endif %}
                    {% if page.next.url %}
                    <a class="btn btn-primary float-right"
                       href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
                       data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
